.sidebar {
    width: 55px;
    height: 100vh;
    padding: 0.45rem;
    background-color: black;
}

.sidebar ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 50px;
}

.sidebar li a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    list-style: none;
    font-size: 20px;
    margin-bottom: 20px;
}
